# 作業 : (Kaggle)鐵達尼生存預測精簡版 
https://www.kaggle.com/c/titanic

# [作業目標]
- 試著不依賴說明, 只依照下列程式碼回答下列問題, 初步理解什麼是"特徵工程"的區塊

# [作業重點]
- 試著不依賴註解, 以之前所學, 回答下列問題

# 作業1
* 下列A~E五個程式區塊中，哪一塊是特徵工程?

# 作業2
* 對照程式區塊 B 與 C 的結果，請問那些欄位屬於"類別型欄位"? (回答欄位英文名稱即可) 

# 作業3
* 續上題，請問哪個欄位是"目標值"?

In [18]:
# 程式區塊 A
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

data_path = 'data/'
df_train = pd.read_csv(data_path + 'titanic_train.csv')
df_test = pd.read_csv(data_path + 'titanic_test.csv')
df_train.shape

(891, 12)

In [19]:
# 程式區塊 B
train_Y = df_train['Survived']
ids = df_test['PassengerId']
df_train = df_train.drop(['PassengerId', 'Survived'] , axis=1)
df_test = df_test.drop(['PassengerId'] , axis=1)
df = pd.concat([df_train,df_test])
df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [20]:
# 程式區塊 C
LEncoder = LabelEncoder()
MMEncoder = MinMaxScaler()
for c in df.columns:
    df[c] = df[c].fillna(-1)
    if df[c].dtype == 'object':
        df[c] = LEncoder.fit_transform(list(df[c].values))
    df[c] = MMEncoder.fit_transform(df[c].values.reshape(-1, 1))
df.head()

C:\Users\USER\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
C:\Users\USER\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
C:\Users\USER\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
C:\Users\USER\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
C:\Users\USER\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
C:\Users\USER\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
C:\Users\USER\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
C:\Users\USER\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1.0,0.118683,1.0,0.283951,0.125,0.0,0.775862,0.016072,0.000000,1.000000
1,0.0,0.218989,0.0,0.481481,0.125,0.0,0.879310,0.140813,0.575269,0.333333
2,1.0,0.400459,0.0,0.333333,0.000,0.0,0.984914,0.017387,0.000000,1.000000
3,0.0,0.323124,0.0,0.444444,0.125,0.0,0.070043,0.105390,0.381720,1.000000
4,1.0,0.016845,1.0,0.444444,0.000,0.0,0.699353,0.017630,0.000000,1.000000

In [25]:
# 程式區塊 D
train_num = train_Y.shape[0]
train_X = df[:train_num]
test_X = df[train_num:]
print(train_num)
print(train_X)
print(test_X)

from sklearn.linear_model import LogisticRegression
estimator = LogisticRegression()
estimator.fit(train_X, train_Y)
pred = estimator.predict(test_X)

891
     Pclass      Name  Sex       Age  SibSp     Parch    Ticket      Fare  \
0       1.0  0.118683  1.0  0.283951  0.125  0.000000  0.775862  0.016072
1       0.0  0.218989  0.0  0.481481  0.125  0.000000  0.879310  0.140813
2       1.0  0.400459  0.0  0.333333  0.000  0.000000  0.984914  0.017387
3       0.0  0.323124  0.0  0.444444  0.125  0.000000  0.070043  0.105390
4       1.0  0.016845  1.0  0.444444  0.000  0.000000  0.699353  0.017630
5       1.0  0.626340  1.0  0.000000  0.000  0.000000  0.401940  0.018425
6       0.0  0.587289  1.0  0.679012  0.000  0.000000  0.117457  0.102980
7       1.0  0.699847  1.0  0.037037  0.375  0.111111  0.582974  0.043004
8       1.0  0.463247  0.0  0.345679  0.000  0.222222  0.514009  0.023636
9       0.5  0.648545  0.0  0.185185  0.125  0.000000  0.187500  0.060528
10      1.0  0.816998  0.0  0.061728  0.125  0.111111  0.904095  0.034481
11      0.0  0.101838  0.0  0.728395  0.000  0.000000  0.053879  0.053669
12      1.0  0.819296  1.0  0.259259  0.000  0.000000  0.789871  0.017630
13      1.0  0.029096  1.0  0.493827  0.125  0.555556  0.494612  0.062874
14      1.0  0.934916  0.0  0.185185  0.000  0.000000  0.609914  0.017249
15      0.5  0.408116  0.0  0.691358  0.000  0.000000  0.219828  0.033117
16      1.0  0.761868  1.0  0.037037  0.500  0.111111  0.710129  0.058686
17      0.5  0.973201  1.0  0.000000  0.000  0.000000  0.216595  0.027273
18      1.0  0.931853  0.0  0.395062  0.125  0.000000  0.449353  0.037013
19      1.0  0.581930  0.0  0.000000  0.000  0.000000  0.261853  0.016023
20      0.5  0.323890  1.0  0.444444  0.000  0.000000  0.196121  0.052598
21      0.5  0.085758  1.0  0.432099  0.000  0.000000  0.218750  0.027273
22      1.0  0.595712  0.0  0.197531  0.000  0.000000  0.408405  0.017589
23      0.0  0.850689  1.0  0.358025  0.000  0.000000  0.058190  0.071104
24      1.0  0.702144  0.0  0.111111  0.375  0.111111  0.582974  0.043004
25      1.0  0.049005  0.0  0.481481  0.125  0.555556  0.489224  0.063093
26      1.0  0.284074  1.0  0.000000  0.000  0.000000  0.256466  0.016023
27      0.0  0.309342  1.0  0.246914  0.375  0.222222  0.132543  0.514290
28      1.0  0.677642  0.0  0.000000  0.000  0.000000  0.414871  0.017297
29      1.0  0.908116  1.0  0.000000  0.000  0.000000  0.537716  0.017330
..      ...       ...  ...       ...    ...       ...       ...       ...
861     0.5  0.336141  1.0  0.271605  0.125  0.000000  0.325431  0.024351
862     0.0  0.891271  0.0  0.604938  0.000  0.000000  0.120690  0.052460
863     1.0  0.804747  0.0  0.000000  1.000  0.222222  0.838362  0.137436
864     0.5  0.338438  1.0  0.308642  0.000  0.000000  0.165948  0.027273
865     0.5  0.135528  0.0  0.530864  0.000  0.000000  0.173491  0.027273
866     0.5  0.272588  0.0  0.345679  0.125  0.000000  0.929957  0.028945
867     0.0  0.775651  1.0  0.395062  0.000  0.000000  0.869612  0.100317
868     1.0  1.000000  1.0  0.000000  0.000  0.000000  0.461207  0.020455
869     1.0  0.459418  1.0  0.061728  0.125  0.111111  0.514009  0.023636
870     1.0  0.065850  1.0  0.333333  0.000  0.000000  0.572198  0.017330
871     0.0  0.084992  0.0  0.592593  0.125  0.111111  0.075431  0.104327
872     0.0  0.154671  1.0  0.419753  0.000  0.000000  0.741379  0.011688
873     1.0  0.928790  1.0  0.592593  0.000  0.000000  0.451509  0.019481
874     0.5  0.005360  0.0  0.358025  0.125  0.000000  0.850216  0.048702
875     1.0  0.642420  0.0  0.197531  0.000  0.000000  0.281250  0.016023
876     1.0  0.362940  1.0  0.259259  0.000  0.000000  0.744612  0.021128
877     1.0  0.734303  1.0  0.246914  0.000  0.000000  0.533405  0.017330
878     1.0  0.513017  1.0  0.000000  0.000  0.000000  0.538793  0.017330
879     0.0  0.746554  0.0  0.703704  0.000  0.111111  0.080819  0.163946
880     0.5  0.829250  0.0  0.320988  0.000  0.111111  0.158405  0.052598
881     1.0  0.579632  1.0  0.419753  0.000  0.000000  0.581897  0.017330
882     1.0  0.222052  0.0  0.283951  0.000  0.000000  0.751078  0.022435
883     0.5  0.067381  1.0  0.358025  0.000  0.000000  0.834052  0.022403
884     1.0  0.885911  1.0  0.320988  0.000  0.000000  0.960129  0.015682
885     1.0  0.763400  0.0  0.493827  0.000  0.555556  0.710129  0.058686
886     0.5  0.620980  1.0  0.345679  0.000  0.000000  0.140086  0.027273
887     0.0  0.355283  0.0  0.246914  0.000  0.000000  0.019397  0.060390
888     1.0  0.464778  0.0  0.000000  0.125  0.222222  0.994612  0.047630
889     0.0  0.086524  1.0  0.333333  0.000  0.000000  0.011853  0.060390
890     1.0  0.258806  1.0  0.407407  0.000  0.000000  0.691810  0.017046

        Cabin  Embarked
0    0.000000  1.000000
1    0.575269  0.333333
2    0.000000  1.000000
3    0.381720  1.000000
4    0.000000  1.000000
5    0.000000  0.666667
6    0.881720  1.000000
7    0.000000  1.000000
8    0.000000  1.000000
9    0.000000  0.333333
10   0.994624  1.000000
11   0.338710  1.000000
12   0.000000  1.000000
13   0.000000  1.000000
14   0.000000  1.000000
15   0.000000  1.000000
16   0.000000  0.666667
17   0.000000  1.000000
18   0.000000  1.000000
19   0.000000  0.333333
20   0.000000  1.000000
21   0.774194  1.000000
22   0.000000  0.666667
23   0.096774  1.000000
24   0.000000  1.000000
25   0.000000  1.000000
26   0.000000  0.333333
27   0.435484  1.000000
28   0.000000  0.666667
29   0.000000  1.000000
..        ...       ...
861  0.000000  1.000000
862  0.655914  1.000000
863  0.000000  1.000000
864  0.000000  1.000000
865  0.000000  1.000000
866  0.000000  0.333333
867  0.053763  1.000000
868  0.000000  1.000000
869  0.000000  1.000000
870  0.000000  1.000000
871  0.709677  1.000000
872  0.247312  1.000000
873  0.000000  1.000000
874  0.000000  0.333333
875  0.000000  0.333333
876  0.000000  1.000000
877  0.000000  1.000000
878  0.000000  1.000000
879  0.489247  0.333333
880  0.000000  1.000000
881  0.000000  1.000000
882  0.000000  1.000000
883  0.000000  1.000000
884  0.000000  1.000000
885  0.000000  0.666667
886  0.000000  1.000000
887  0.220430  1.000000
888  0.000000  1.000000
889  0.419355  0.333333
890  0.000000  0.666667

[891 rows x 10 columns]
     Pclass      Name  Sex       Age  SibSp     Parch    Ticket      Fare  \
0       1.0  0.488515  1.0  0.438272  0.000  0.000000  0.405172  0.017200
1       1.0  0.969372  0.0  0.592593  0.125  0.000000  0.627155  0.015585
2       0.5  0.640888  1.0  0.777778  0.000  0.000000  0.198276  0.020820
3       1.0  0.978560  1.0  0.345679  0.000  0.000000  0.394397  0.018823
4       1.0  0.415773  0.0  0.283951  0.125  0.111111  0.364224  0.025885
5       1.0  0.888208  1.0  0.185185  0.000  0.000000  0.745690  0.019919
6       1.0  0.199847  0.0  0.382716  0.000  0.000000  0.419181  0.016810
7       0.5  0.141654  1.0  0.333333  0.125  0.111111  0.227371  0.058442
8       1.0  0.006891  0.0  0.234568  0.000  0.000000  0.270474  0.016031
9       1.0  0.235835  1.0  0.271605  0.250  0.000000  0.769397  0.048994
10      1.0  0.438744  1.0  0.000000  0.000  0.000000  0.542026  0.017330
11      0.0  0.467075  1.0  0.580247  0.000  0.000000  0.740302  0.052598
12      0.0  0.859112  0.0  0.296296  0.125  0.000000  0.141164  0.162209
13      0.5  0.430322  1.0  0.790123  0.125  0.000000  0.199353  0.052598
14      0.0  0.168453  0.0  0.592593  0.125  0.000000  0.997845  0.121121
15      0.5  0.996937  0.0  0.308642  0.125  0.000000  0.933190  0.055950
16      0.5  0.484686  1.0  0.444444  0.000  0.000000  0.164871  0.026007
17      1.0  0.050536  1.0  0.271605  0.000  0.000000  0.309267  0.016023
18      1.0  0.439510  0.0  0.345679  0.125  0.000000  0.981681  0.017387
19      1.0  0.049770  0.0  0.567901  0.000  0.000000  0.313578  0.016023
20      0.0  0.786371  1.0  0.691358  0.125  0.000000  0.882543  0.117663
21      1.0  0.683002  1.0  0.123457  0.000  0.111111  0.798491  0.008125
22      0.0  0.294793  0.0  0.000000  0.000  0.000000  0.878233  0.063669
23      0.0  0.975498  1.0  0.271605  0.000  0.111111  0.877155  0.121519
24      0.0  0.795559  0.0  0.604938  0.125  0.333333  0.887931  0.513072
25      1.0  0.774119  1.0  0.629630  0.125  0.000000  0.792026  0.030195
26      0.0  0.693721  0.0  0.283951  0.000  0.111111  0.042026  0.122688
27      1.0  0.220521  1.0  0.290123  0.000  0.000000  0.315733  0.016023
28      0.0  0.115620  1.0  0.518519  0.000  0.000000  0.034483  0.061364
29      1.0  0.813936  1.0  0.000000  0.250  0.000000  0.275862  0.044181
..      ...       ...  ...       ...    ...       ...       ...       ...
388     1.0  0.147014  1.0  0.271605  0.000  0.000000  0.646552  0.017046
389     1.0  0.700613  1.0  0.086420  0.375  0.111111  0.582974  0.043004
390     0.0  0.715161  1.0  0.296296  0.000  0.000000  0.092672  0.184092
391     0.0  0.547473  0.0  0.641975  0.000  0.111111  0.871767  0.078702
392     1.0  0.000766  1.0  0.172840  0.000  0.222222  0.811422  0.041396
393     0.5  0.334609  1.0  0.592593  0.000  0.000000  0.815733  0.022403
394     1.0  0.500766  1.0  0.370370  0.375  0.111111  0.393319  0.044854
395     0.0  0.856815  0.0  0.234568  0.125  0.000000  0.105603  0.118832
396     1.0  0.188361  1.0  0.308642  0.000  0.000000  0.695043  0.016072
397     0.0  0.319296  0.0  0.604938  0.125  0.111111  0.103448  0.156235
398     1.0  0.522971  1.0  0.283951  0.000  0.000000  0.476293  0.017094
399     1.0  0.198315  1.0  0.395062  0.000  0.000000  0.142241  0.017013
400     0.0  0.101072  0.0  0.382716  0.000  0.000000  0.674569  0.323120
401     0.5  0.324655  1.0  0.481481  0.125  0.000000  0.337284  0.042857
402     0.0  0.332312  0.0  0.283951  0.000  0.111111  0.024784  0.117663
403     0.0  0.157734  1.0  0.222222  0.000  0.000000  0.037716  0.093702
404     0.0  0.316233  1.0  0.543210  0.125  0.000000  0.125000  0.055950
405     0.5  0.667688  1.0  0.259259  0.000  0.000000  0.932112  0.028953
406     0.5  0.941041  1.0  0.296296  0.125  0.000000  0.339440  0.022403
407     0.0  0.964778  1.0  0.629630  0.125  0.111111  0.039871  0.413964
408     1.0  0.770291  0.0  0.000000  0.000  0.000000  0.424569  0.016989
409     1.0  0.716692  0.0  0.049383  0.125  0.111111  0.951509  0.028783
410     1.0  0.650077  0.0  0.000000  0.000  0.000000  0.651940  0.017046
411     0.0  0.613323  0.0  0.469136  0.125  0.000000  0.129310  0.177274
412     1.0  0.403522  0.0  0.358025  0.000  0.000000  0.497845  0.017094
413     1.0  0.862175  1.0  0.000000  0.000  0.000000  0.766164  0.017630
414     0.0  0.682236  0.0  0.493827  0.000  0.000000  0.898707  0.214093
415     1.0  0.800919  1.0  0.487654  0.000  0.000000  0.939655  0.016072
416     1.0  0.939510  1.0  0.000000  0.000  0.000000  0.623922  0.017630
417     1.0  0.729709  1.0  0.000000  0.125  0.111111  0.282328  0.045504

        Cabin  Embarked
0    0.000000  0.666667
1    0.000000  1.000000
2    0.000000  0.666667
3    0.000000  1.000000
4    0.000000  1.000000
5    0.000000  1.000000
6    0.000000  0.666667
7    0.000000  1.000000
8    0.000000  0.333333
9    0.000000  1.000000
10   0.000000  1.000000
11   0.000000  1.000000
12   0.225806  1.000000
13   0.000000  1.000000
14   0.833333  1.000000
15   0.000000  0.333333
16   0.000000  0.666667
17   0.000000  0.333333
18   0.000000  1.000000
19   0.000000  0.333333
20   0.000000  0.333333
21   0.000000  1.000000
22   0.000000  1.000000
23   0.000000  0.333333
24   0.258065  0.333333
25   0.000000  1.000000
26   0.188172  0.333333
27   0.000000  0.333333
28   0.043011  1.000000
29   0.000000  0.333333
..        ...       ...
388  0.000000  0.666667
389  0.000000  1.000000
390  0.155914  1.000000
391  0.688172  1.000000
392  0.000000  1.000000
393  0.000000  1.000000
394  0.000000  1.000000
395  0.451613  1.000000
396  0.000000  0.666667
397  0.215054  0.333333
398  0.000000  1.000000
399  0.000000  0.666667
400  0.543011  1.000000
401  0.000000  1.000000
402  0.000000  0.333333
403  0.000000  1.000000
404  0.731183  0.333333
405  0.725806  0.333333
406  0.000000  1.000000
407  0.559140  0.333333
408  0.000000  0.666667
409  0.000000  1.000000
410  0.000000  0.666667
411  0.553763  0.666667
412  0.000000  1.000000
413  0.000000  1.000000
414  0.349462  0.333333
415  0.000000  1.000000
416  0.000000  1.000000
417  0.000000  0.333333

[418 rows x 10 columns]

C:\Users\USER\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [22]:
# 程式區塊 E
sub = pd.DataFrame({'PassengerId': ids, 'Survived': pred})
sub.to_csv('titanic_baseline.csv', index=False)

In [ ]:
# 作業1
* 下列A~E五個程式區塊中，哪一塊是特徵工程?
Ans: 區塊C

# 作業2
* 對照程式區塊 B 與 C 的結果，請問那些欄位屬於"類別型欄位"? (回答欄位英文名稱即可) 
Ans: 類別型欄位: Pclass, Name, Sex, Ticket, Cabin, Embarked

# 作業3
* 續上題，請問哪個欄位是"目標值"?
Ans: Survived